@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.colors-container {
    .container-title {
        @extend %fontStandard;
        @extend %headerWithTransparentButtons;
        font-weight: bold;
    }

    .color-container {
        @extend %columnCentered;
        @extend %paletteLightDark;
        border-radius: 50%;
        height: 42px;
        width: 42px;
    }

    .selected {
        border: 5px solid black;
    }
}