@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

%headerWithTransparentButtons {
    @extend %paddingStandardMarginStandard;
    @extend %rowSpaceBetween;
    width: 90vw;

    & button {
        @extend %btnTransparent;
        @extend %paletteWhiteContrast;
    }
}

%inputText {
    @extend %fontStandard;
    @extend %paddingSmallNoMargin;
    @extend %rowLeft;
    background: transparent;
    border: none;
    width: 82vw;
}
