@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.list-item {
    @extend %borderBottomLight;
    @extend %paddingSmallNoMargin;
    @extend %paletteWhite;
    @extend %rowSpaceBetween;
    font-family: $font-main, $font-alternative;
    height: 56px;
    width: 90vw;

    &:first-of-type {
        border-top: 0.5px solid $color_light;
    }

    .btn--plus {
        @extend %columnCentered;
        width: 2rem;
    }

    .btn--remove {
        @extend %fontStandard;
        color: $color_alert;
    }

    .btn--transparent {
        @extend %btnTransparent;
    }
    
    .list-item__product--left {
        @extend %rowLeft;
    }

    .product__category {
        @extend %paletteWhiteLight;
    }

    .product__name {
        @extend %marginPaddingStandard;
    }
}
