@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.add-shopping-list {
    @extend %columnCentered;
    @extend %paddingSmallMarginStandard;
    width: 90vw;

    .input-field {
        @extend %borderBottomLight;
        @extend %paddingSmallNoMargin;
        @extend %paletteWhiteLight;
        @extend %rowSpaceBetween;
        border-radius: 10px;
        height: 36px;
        width: 90vw;

        input[type="text"] {
            @extend %inputText;
        }
    }
}
