@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.picture-picker {
    @extend %columnCentered;

    .icon__picture {
        margin: 2px;
        border-radius: 50%;
        border: 3px solid $color_white;
    }

    .icon__picture--selected {
        border: 3px solid $color_medium;
    }

    .picture {
        @extend %columnCentered;
        @extend %paletteLightDark;
        border-radius: 50%;
        cursor: pointer;
        height: 42px;
        margin: 3px;
        width: 42px;
    }
 
    .picture-picker__icons {
        @extend %rowCentered;
        flex-wrap: wrap;
    }

    .picture-picker__title {
        @extend %fontStandard;
        @extend %headerWithTransparentButtons;
        font-weight: bold;
    }
}